allow toolbox block_device:blk_file { read write };
allow toolbox block_device:blk_file { open };
allow toolbox block_device:blk_file { getattr };
allow init block_device:blk_file { write };
allow vold rootfs:dir { setattr };
allow init hci_attach_dev:chr_file { ioctl };
allow shell hci_attach_dev:chr_file { read write };
allow shell hci_attach_dev:chr_file { ioctl };
allow init shell_exec:file { execute_no_trans };
allow sensord system_data_file:dir { write };
allow sensord system_data_file:dir { add_name };
allow sensord system_data_file:dir { create };
allow sensord system_data_file:dir { setattr };
allow sensord system_data_file:file { create };
allow sensord system_data_file:file { read write open };
allow sensord system_data_file:file { setattr };
allow toolbox init:fifo_file { write };
allow sensord sysfs:file { read };
allow sensord sysfs:file { open };
allow sensord sysfs:file { write };
allow toolbox init:fifo_file { getattr };
allow logpersist self:capability { dac_override };
allow logpersist cache_file:dir { read };
allow logpersist cache_file:dir { open };
allow sensord system_data_file:fifo_file { create };
allow sensord system_data_file:fifo_file { read };
allow sensord system_data_file:fifo_file { open };
allow sensord system_data_file:fifo_file { write };
allow logpersist cache_file:dir { write };
allow sensord system_data_file:fifo_file { setattr };
allow logpersist cache_file:dir { add_name };
allow logpersist cache_file:file { create };
allow logpersist cache_file:file { append open };
allow logpersist cache_file:file { getattr };
allow hal_camera_default gpu_device:chr_file { read write };
allow hal_camera_default gpu_device:chr_file { open };
allow hal_camera_default gpu_device:chr_file { ioctl };
allow init system_data_file:file { lock };
allow audioserver system_file:file { execmod };
allow netd self:capability { sys_module };
allow init gps_data_file:fifo_file { write };
allow mediacodec system_file:file { execmod };
allow bluetooth sysfs:file { write };
allow bluetooth serial_device:chr_file { read write };
allow bluetooth serial_device:chr_file { open };
allow bluetooth serial_device:chr_file { ioctl };
allow init gpsd_exec:file { getattr };
allow init gpsd_exec:file { execute };
allow init gpsd_exec:file { read open };
allow init gpsd_exec:file { execute_no_trans };
allow init gpsd_exec:file { read };
allow vold rootfs:dir { write };
allow mediaprovider rootfs:dir { write };
allow mediaprovider rootfs:dir { add_name };
allow mediaprovider rootfs:dir { create };
allow mediaprovider rootfs:dir { read open };
allow vold rootfs:dir { add_name };
allow vold rootfs:dir { create };
allow vold rootfs:file { write };
allow mediaserver device:chr_file { read write };
allow mediaserver device:chr_file { open };
allow init dnsproxyd_socket:sock_file { write };
